

<html>

<head>
    <title>Metikulous</title>
</head>

<body>

    <script>
    document.write("<h1>Welcome to Metikulous</h1>");
    document.write("<h3>Employee Information System</h3>");
    </script>

    <form action="/attendance/add" method="post">
        <input type="text" name="Name" placeholder="Name" autofocus>
        <br>
        <input type="text" name="Father_Name" placeholder="Father Name">
        <br>
        <input type="text" name="Address" placeholder="Address">
        <br>
        <input type="text" name="NIC" placeholder="NIC" required>
        <br>
        <input type="text" name="Email" placeholder="Email" required>
        <br>
        <input type="text" name="Phone_Number" placeholder="Phone Number">
        <br>
        <input type="text" name="Mobile_Number" placeholder="Mobile Number" required>
        <br>
        <input type="text" name="DOB" placeholder="Date Of Birth">
        <br>
        <input type="text" name="Marital_Status" placeholder="MArital_Status" required>
        <br>
        <input type="text" name="Next_to_kin" placeholder="Next to kin" required>
        <br>
        <input type="text" name="ICE" placeholder="ICE" required>
        <br>
        <input type="submit" value="Submit">
    </form>
    <h4>for further querries..
        <p><a href="http://mail.metikulous.com">Visit metikulous.com</a>
        </p>
    </h4>

</body>

</html>
