<html>
<head>
    <title>MEtikulous</title>
</head>
<body>
    <script>
    document.write("<h1>Welcome to Metikulous</h1>");
    document.write("<h3>Employee Information System</h3>");
    </script>

    <form action="/employee/add" method="post">
        <input type="text" name="Employee_Name" placeholder="Employee_Name" autofocus>
        <br>
        <input type="text" name="Basic_Salary" placeholder="Basic Salary" required>
        <br>
        <input type="text" name="Medical" placeholder="Medical">
        <br>
        <input type="text" name="Fuel_Allowance" placeholder="Fuel Allowance" required>
        <br>
        <input type="text" name="Cellular_Credits" placeholder="Cellular Credits" required>
        <br>
        <input type="text" name="Travel_Allowance" placeholder="Travel Allowance">
        <br>
        <input type="text" name="Daily_Allowance" placeholder="Daily Allowance">
        <br>
        <input type="text" name="Other_Allowance" placeholder="Other Allowance">
        <br>
        <input type="text" name="Deduction" placeholder="Deduction">
        <br>
        <input type="submit" value="Submit">
    </form>
    <h4>for further querries..
        <p><a href="http://mail.metikulous.com">Visit metikulous.com</a>
        </p>
    </h4>
</body>
</html>
