
<html>
<head>
<title>MEtikulous</title>
</head>

<body>

<script>
document.write("<h1>Welcome to Metikulous</h1>");
document.write("<h3>Employee Information System</h3>");

</script>

<form action="/attendance/add" method="post">
  <input type="text" name="Employee_Id" placeholder="Employee Id" autofocus required><br>
  <input type="text" name="Number_Of_Attendence" placeholder="Number Of Attendence" ><br>
  <input type="text" name="Absents" placeholder="Absents" required><br>
  <input type="text" name="Informed_Absentees" placeholder="Informed Absentees" ><br>
  <input type="text" name="Lates" placeholder="Lates" required><br>
  <input type="text" name="Informed_Lates" placeholder="Informed Lates" required><br>
  <input type="text" name="Casual_Leaves" placeholder="Casual Leaves" ><br>
  <input type="text" name="Sick_Leaves" placeholder="Sick Leaves" ><br>
  
  

  <input type="submit" value="Submit">
</form>  
<h4>for further querries..<p><a href="http://mail.metikulous.com">Visit metikulous.com</a></p></h4>

</body>
</html>

