<html>
<head>
    <title>MEtikulous</title>
</head>
<body>
    <script>
    document.write("<h1>Welcome to Metikulous</h1>");
    document.write("<h3>Employee Information System</h3>");
    </script>

    <form action="/employee/add" method="post">
        <input type="text" name="Employee_Name" placeholder="Employee_Name" autofocus>
        <br>
        <input type="text" name="Job_Title" placeholder="Job_Title" required>
        <br>
        <input type="text" name="Department" placeholder="Department">
        <br>
        <input type="text" name="Hire_Date" placeholder="Hire_Date" required>
        <br>
        <input type="text" name="Category" placeholder="Category" required>
        <br>
        <input type="text" name="Bank_Account_Number" placeholder="Bank_Account_Number">
        <br>
        <input type="submit" value="Submit">
    </form>
    <h4>for further querries..
        <p><a href="http://mail.metikulous.com">Visit metikulous.com</a>
        </p>
    </h4>
</body>
</html>
